<!DOCTYPE html>
<html class="boxed sticky-header-reveal">
{% load static %}
<head>
    {#    {% block head %}#}
    <!-- Basic -->
    <meta http-equiv="refresh" content="600;url=/?user_id={{ user_id }}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Цахим шаардах хуудас</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "shaardah_huudas/img/logo.png" %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static "shaardah_huudas/img/logo.png" %}"/>

    <!-- Mobile Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/vendor/bootstrap/css/bootstrap.min.css" %}"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/table.css" %}"/>

    <!-- Demo CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/main.css" %}"/>
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/skins/skin.css" %}"/>
    <!-- Head Libs -->
    <!--script src="{% static "shaardah_huudas/vendor/modernizr/modernizr.min.js" %}"></script-->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
    {#    {% endblock %}#}
</head>

<body style="height: auto">
<div class="body" style="margin-top: 0px;">
    <header
            id="header"
            class="header-effect-reveal"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': false, 'stickyStartAt': 220, 'stickySetTop': '-66px'}"
    >
        <div class="header-body border-top-0">
            <div class="header-top header-top-simple-border-bottom">
                <div class="container h-100">
                    <div class="header-row h-100">
                        <div class="header-column justify-content-start"></div>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-logo">
                                <a href="#">
                                    <img
                                            alt="Porto"
                                            width="192"
                                            height="55"
                                            src="{% static "shaardah_huudas/img/gmobile.png" %}"
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav">
                                <div
                                        class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1"
                                >
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="nav-link active">
                                                Энгийн шаардах
                                            </li>
                                            <li>
                                                <a class="nav-link" href="/nuur?user_id={{ user_id }}&tipo=2">
                                                    <img src="{% static "images/home.png" %}">
                                                </a>
                                            </li>
                                            <li
                                                    class="dropdown dropdown-full-color dropdown-primary dropdown-mega dropdown-mega-book-now"
                                                    id="headerBookNow"
                                            >
                                                <a
                                                        class="nav-link dropdown-toggle"
                                                        href="#"
                                                >
                                                    Хэрэглэгч
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">{{ employee.name }}</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="/?user_id={{ user_id }}">Гарах</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div role="main" class="main">
        <div class="row">
            <div class="col-lg-9">
                <form action="/simple/save?user_id={{ user_id }}" method="post"
                      enctype="multipart/form-data">{% csrf_token %}
                    <section
                            class="section section-tertiary bg-quaternary border-0 m-0 appear-animation"
                            data-appear-animation="fadeIn"
                            id="ourservices"
                    >
                        <div class="container scroll">
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <p>НХМаягт БМ - 6</p>
                                </div>
                                <div class="col-md-10 text-right">
                                    <p>Сангийн сайдын 2017 оны 12 дугаар сарын</p>
                                    <p>5-ны өдрийн 347 тоот тушаалын хавсралт</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <div class="overflow-hidden mb-4">
                                        <h2
                                                class="text-color-light font-weight-bold mt-4 mb-0 pb-0 text-uppercase"
                                                data-appear-animation="maskUp"
                                                data-appear-animation-delay="250"
                                        >
                                            шаардах хуудас № {{ id }}
                                        </h2>
                                        {{ doc }}
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 text-center">
                                    <h6>Компаны төрлөө сонгоно уу</h6>
                                            <select name="company" onchange="showCompany(this.value)" required>
                                                <option value=""></option>
                                                {% for company in companies %}
                                                    <option value="{{ company.id }}">{{ company.name }}</option>
                                                {% endfor %}
                                            </select>
                                    <div
                                            style="margin-bottom: 0px"
                                            class="divider divider-primary divider-small mb-4 mt-0"
                                    >
                                        <hr class="mt-2 mr-auto"/>
                                        <span class="text-color-light">/байгууллагын нэр/</span>
                                    </div>
                                </div>
                                <div class="col-md-10 text-right">
                                    <p>{{ date }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Хэнээс {{ employee.surname }} {{ employee.name }}, {{ jobposition.name }}</p>
                                    <div class="text-center divider divider-primary divider-small">
                                        <hr class="mt-2 mr-auto"/>
                                        <p>(Овог нэр, албан тушаал)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="fname">Хаана </label>
                                    <input type="text" name="haana" value="" placeholder="Хаана" autocomplete="off" required>
                                    <div class="text-center divider divider-primary divider-small">
                                        <hr class="mt-2 mr-auto"/>
                                        <p>(Цех, тасаг, алба)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="fname">Зориулалт </label>
                                    <input type="text" name="zoriulalt" value="" placeholder="Зориулалтаа бичнэ үү"
                                           autocomplete="off" required>
                                    <div class="text-center divider divider-primary divider-small">
                                        <hr class="mt-2 mr-auto"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="row">
                                        <div class="col-md-6" id="nyarav">

                                        </div>
                                        <div class="col-md-6" id="txtHint">

                                        </div>
                                    </div>
                                    <br>
                                    <table class="table table-bordered responsive table-striped mb-0 text-light"
                                           id="table">
                                        <tr>
                                            <th rowspan="2">Д/Д</th>
                                            <th rowspan="2">Материалын үнэт зүйлийн нэр</th>
                                            <th rowspan="2">Код</th>
                                            <th rowspan="2">Хэмжих нэгж</th>
                                            <th colspan="3">Тоо хэмжээ</th>
                                        </tr>
                                        <tr>
                                            <th>Хүссэн</th>
                                            <th>Зөвшөөрсөн</th>
                                            <th>Олгосон</th>
                                        </tr>

                                        <tr>
                                            <td>1</td>
                                            <td id="pros">

                                            </td>
                                            <td></td>
                                            <td>
                                                <select name="unit" required>
                                                    <option value="Ширхэг">Ширхэг</option>
                                                    <option value="Метр">Метр</option>
                                                    <option value="Ком">Ком</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" name="hussen[]" value=""
                                                       placeholder="Тоо оруулна уу" autocomplete="off" required>

                                            </td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </table>
                                    <button type="button" onclick="utga()" id="count">Мөр нэмэх</button>
                                </div>
                            </div>
                        </div>
                        <div class="macro-map clearfix">
                            <div class="macro-map-info">
                                <div class="macro-map-info-detail">
                                    <input type="submit" value="Хүсэлт илгээх" class="Oval1" required>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <div class="col-lg-3">
                <div class="macro-map clearfix">
                    <div class="macro-map-info">
                        <div class="macro-map-info-detail" style="width: 100%">
                            {#                            {% block content %}#}
                            <div class="row">
                                <div class="col-md-8">

                                </div>
                            </div>
                            {#                            {% endblock %}#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer id="footer" class="color bg-primary mt-0 pt-5 pb-5">
        <div class="container">

        </div>
    </footer>
</div>
<!-- Vendor -->
<script src="{% static "shaardah_huudas/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "shaardah_huudas/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<script type="text/javascript">

    function utga() {
        var table = document.getElementById("table");
        var btn = document.getElementById("count");
        count = 1;
        btn.onclick = function() {
            count += 1;
            if(count < 14){
                var row = table.insertRow(-1);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2);
                var cell4 = row.insertCell(3);
                var cell5 = row.insertCell(4);
                var cell6 = row.insertCell(5);
                var cell7 = row.insertCell(6);
                cell1.innerHTML = "<p>"+count+"</p>";
                cell2.innerHTML = "<input list=\"products\" id=\"product\" name=\"product[]\" value=\"\" autocomplete=\"off\" required><datalist id=\"products\">{% for product in products %} <option name=\"productName\" value=\"\">{{ product.ner }} </option>{% endfor %} </datalist>";
                cell4.innerHTML = "<select name=\"unit\" required><option value=\"Ширхэг\">Ширхэг</option><option value=\"Метр\">Метр</option><option value=\"Ком\">Ком</option></select>";
                cell5.innerHTML = "<input type=\"text\" name=\"hussen[]\" value=\"\" placeholder=\"Тоо оруулна уу\" autocomplete=\"off\" required>";
            }
            if(count == 14){
                btn.innerHTML = "<p style='color: red'>Дахин мөр нэмэх боломжгүй тул энэхүү шаардах хуудсаа илгээгээд тусдаа шинэ шаардах үүсгэнэ үү</p>";
            }
            console.log(count);
        };
    }

    function showCompany(company_id) {
        $.ajax({
            url: "/simple/company",
            method: "GET",
            data: {
                company_id: company_id
            },
            success: function (data) {
                var html_to_append = '';
                html_to_append = '<h6>Няравын төрлөө сонгоно уу</h6><select name="nyarav" onchange=\"showType(this.value)\" required><option value=""></option>';
                $.each(data, function (i) {
                    html_to_append +=
                        '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                });
                html_to_append += '</select>';
                $("#nyarav").html(html_to_append);
            },
            error: function () {
                console.log("ERROR");
                console.log(data);
            }
        });
    }

    function showType(nyarav_id) {
        if (nyarav_id === "") {
            document.getElementById("txtHint").innerHTML = "";
            return;
        }
        $.ajax({
            url: "/simple/info",
            method: "GET",
            data: {
                nyarav_id: nyarav_id
            },
            success: function (data) {
                var html_to_append = '';
                html_to_append = '<h6>Материалын төрлөө сонгоно уу</h6><select name="turul" onchange=\"showProduct(' + nyarav_id + ', this.value)\" required><option value=""></option>';
                $.each(data, function (i, item) {
                    console.log("ITEM");
                    console.log(item);
                    html_to_append +=
                        '<option value="' + item + '">' + item + '</option>';
                });
                html_to_append += '</select>';
                $("#txtHint").html(html_to_append);
            },
            error: function () {
                console.log("ERROR");
                console.log(data);
            }
        });
    }

    function showProduct(nyarav_id, turul) {
        if (turul === "") {
            console.log("HOOSON");
            document.getElementById("pros").innerHTML = "";
            return;
        }
        $.ajax({
            url: "/simple/getProducts",
            method: "GET",
            data: {
                nyarav_id: nyarav_id,
                turul: turul
            },
            success: function (data) {
                console.log("DATA");
                console.log(data);
                var html_to_append = '';
                html_to_append = '<input list="products" id="product" name="product[]" value="" autocomplete="off" required>\n' +
                    '<datalist id="products">\n<select name="productName" id="productName">\n</select>\n';
                $.each(data, function (i, item) {
                    html_to_append +=
                        '<option value="' + item + '">' + item + '</option>';
                });
                html_to_append += '</select></datalist>';
                $("#pros").html(html_to_append);
            },
            error: function () {
                console.log("ERROR");
                console.log(data);
            }
        });
    }

</script>
</body>
</html>
