<!-- templates/base.html -->
<!DOCTYPE html>
<html class="boxed sticky-header-reveal">
{% load static %}
<head>
    <!-- Basic -->
    <meta http-equiv="refresh" content="60;url=/nuur?user_id={{ user_id }}&tipo={{ tipo }}">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <title>Цахим шаардах хуудас</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static "shaardah_huudas/img/favicon.ico" %}" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="{% static "shaardah_huudas/img/gmobile-icon.png" %}"/>

    <!-- Mobile Metas -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no"
    />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/vendor/bootstrap/css/bootstrap.min.css" %}"/>

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/theme.css" %}"/>
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/table.css" %}"/>

    <!-- Demo CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/main.css" %}"/>
    <!-- Skin CSS -->
    <link rel="stylesheet" href="{% static "shaardah_huudas/css/skins/skin.css" %}"/>
    <!-- Head Libs -->
    <!--script src="{% static "shaardah_huudas/vendor/modernizr/modernizr.min.js" %}"></script-->
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
<div class="body" style="margin-top: 0px">
    <header
            id="header"
            class="header-effect-reveal"
            data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'reveal', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': false, 'stickyStartAt': 220, 'stickySetTop': '-66px'}"
            style="top: 0px; margin-bottom: 0px"
    >
        <div class="header-body border-top-0">
            <div class="header-top header-top-simple-border-bottom">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-logo">
                                    <a href="#">
                                        <img alt="Porto" width="192" height="55"
                                             src="{% static "shaardah_huudas/img/gmobile.png" %}"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="header-column justify-content-end">
                            <div class="header-row">
                                <div class="header-nav">
                                    <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                        <nav class="collapse">
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="nav-link active">
                                                    {% if tipo == "1" %}
                                                        Энгийн шаардах
                                                    {% endif %}
                                                    {% if tipo == "2" %}
                                                        Ассет
                                                    {% endif %}
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="/nuur?user_id={{ user_id }}&tipo=2">
                                                        <img src="{% static "images/home.png" %}">
                                                    </a>
                                                </li>
                                                <li class="dropdown dropdown-full-color dropdown-primary dropdown-mega dropdown-mega-book-now"
                                                    id="headerBookNow">
                                                    <a class="nav-link dropdown-toggle" href="#">
                                                        Хэрэглэгч
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a class="dropdown-item" href="#">{{ employee.name }}</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item"
                                                               href="/?user_id={{ user_id }}">Гарах</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column justify-content-end">
                        <div class="header-row">
                            <div class="header-nav">
                                <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                    <nav class="collapse">
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li>
                                                {% if tipo == "1" %}
                                                    <a class="nav-link"
                                                       href="/asset/niitShaardah?user_id={{ user_id }}&tipo=1&page=1">
                                                        Нийт ирсэн шаардах
                                                    </a>
                                                {% elif tipo == "2" %}
                                                    <a class="nav-link"
                                                       href="/simple/simpleNiitShaardah?user_id={{ user_id }}&page=1&position={{ position }}">
                                                        Нийт ирсэн шаардах
                                                    </a>
                                                {% else %}
                                                    <a class="nav-link"
                                                       href="/simple/choose?user_id={{ user_id }}&tok=no&tipo=2">
                                                        Нийт ирсэн шаардах
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div role="main" class="main scroll">
        <section
                class="section section-tertiary bg-quaternary border-0 m-0 appear-animation"
                data-appear-animation="fadeIn"
                id="ourservices"
        >
            <div class="container">
                <div class="w3-container w3-teal">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="{% static 'images/new_design_images/icons/success.png' %}">
                            <br>
                            <h2>
                                {{ notification }}
                            </h2>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<!-- Vendor -->
<script src="{% static "shaardah_huudas/vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "shaardah_huudas/vendor/bootstrap/js/bootstrap.min.js" %}"></script>

<!-- Theme Base, Components and Settings -->
<!--script src="{% static "shaardah_huudas/js/theme.js" %}"></script-->
<!-- Theme Initialization Files -->
<!--script src="{% static "shaardah_huudas/js/theme.init.js" %}"></script-->
</body>
</html>
